<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/javascript/react.js"></script>
        <script src="/javascript/postView.js"></script>
		<title>
			<%= post.title %>
		</title>
        <link rel="icon" href="../images/icon.png" sizes="32x32" type="image/png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<script src="/javascriptuserView.js"></script>
        <script src="/javascript/navbar.js" type="text/javascript"></script>
		<script>
			createNavbar('../../' ,<%= isLoggedIn %>);
		</script>
		<div class="border">
			<div class="content_list">
			
			</div>
            <script>
                let pauthor = '<%= post.author %>',
                    ptitle = '<%= post.title %>',
                    pdesc = '<%= post.content %>',
                    ppostedDate = new Date('<%= post.createDate %>').toLocaleString();
                    let peditedDate = '<%= post.editDate %>';
                    if (peditedDate) {
                        peditedDate = new Date(peditedDate).toLocaleString();
                    } else {
                        peditedDate = '- Not Edited'; //not edited
                    }
                    ptags = '<%= post.tags %>', //remove
                    pcount = '<%= post.commentCount %>', //to code
                    pmedia = '<%= post.media %>'; //remove?
              
                let ppfp = '<%= author.pfp_link %>';
                
                $('.content_list').append(posthtml(pauthor, ptitle, ppfp, pdesc, ppostedDate, peditedDate, ptags, pcount, pmedia));
              </script>

            <!-- <script>
				let pauthor = 'Kinkey',
                    ptitle = 'Advice needed',
					ppfp = '../sample users/Kinkey.jpg',
					pdesc = 'Hi! So I\'m a 17 year old who has been cooking for 2-3 years already but do not have much experience in prep work as my parents '+
                                'usually do it for me. Late last year, I started taking charge of prepping when I cook and learned to chop more and more but I ' +
                                'accidentally cut a chunk of my nail out which stopped me from chopping for a while. Recently, I have tried chopping again but ' +
                                'my finger doesn\'t seem to trust me anymore. My brain tells me that I\'ll be fine and I just have to take it slow but my finger '+ 
                                'tells me that it will slip again and chop myself. Any advice on how to get over this? I really wanna go back to chopping again as it\'s quite fun. ',
					pposted = 'today',
					pedited = 'today',
                    ptags = 'General Question',
					pcount = '999',
                    pmedia= '';
				$('.content_list').append(posthtml(pauthor,ptitle,ppfp,pdesc,pposted,pedited,ptags,pcount,pmedia) );
			</script> -->



            <!-- <script>
                pauthor = 'Ecola',    
                ppfp = '../sample users/Ecola.jpg',
                pdesc = 'Look up some videos on YouTube on technique for how to hold the knife, where to rest it on your knuckle etc... and stick to it no matter '+
                        'how slow you are. With proper technique the risk of injury is extremely low. Let speed come naturally - don’t try to force it. Also make '+
                        'sure your knives are sharp',

                pcount = '1.5k';
                let pid='1';
                $('.border').append(postreply(pauthor,ppfp,pdesc,pcount,pid) );
            </script>

            <script>
                pauthor = 'Matrix',    
                ppfp = '../sample users/Matrix.jpg',
                pdesc = 'La technique. Start here: https://www.youtube.com/watch?v=JMA2SqaDgG8',
                pcount = '1.5k',
                pid='2';
                $('.border').append(postreply(pauthor,ppfp,pdesc,pcount,pid) );
            </script>
            <script>
                pauthor = 'denial',    
                ppfp = '../sample users/denial.jpg',
                pdesc = 'Make sure you\'re using the right knife for the job. Too big or too small can work against you. I agree looking up ' +
                        'some YouTube videos for improving your grip.',
                pcount = '1.5k',
                pid='2.1';
                $('#2').append(postreply(pauthor,ppfp,pdesc,pcount,pid) );
            </script> -->
		</div>
	</body>
</html>