<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>   
    <style>
       .tox-notification { display: none !important }
    </style>

    <% if (isLoggedIn) {%>
        <script src="/javascript/react.js" type="text/javascript"></script>
    <%} else {%>
        <script src="/javascript/no_react.js" type="text/javascript">
      
        </script>
                     <%   } %>
</script>
    <script src="/javascript/postView.js"></script>
    <title><%= post.title %></title>
    <link rel="icon" href="../images/icon.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <script src="/javascript/navbar.js" type="text/javascript"></script>
    <script>
      createNavbar(<%= isLoggedIn %>);
    </script>
    <div class="border">
      <div class="content_list">
      </div>
      <script>
        let postID = '<%= post._id %>';
        <% if (!post.isDeleted) { %>
          let pauthor = '<%= post.author %>',
              ptitle = '<%- post.title %>',
              pdesc = "<%- post.content.replace(/\r\n|\r|\n/g, "") %>",
              ppostedDate = new Date('<%= post.createDate %>').toLocaleString();
          let peditedDate = '<%= post.editDate %>';
          if (peditedDate) {
            peditedDate = new Date(peditedDate).toLocaleString();
          } else {
            peditedDate = '- Not Edited'; //not edited
          }
          prating = '<%= post.rating %>', 
          pmedia = '<%= post.media %>';

          let ppfp = '<%= author.photo %>';
          let preactValue = '<%= reactValue %>';
          let isCurrUserTheAuthor = '<%=isCurrUserTheAuthor%>';
          let isLoggedIn = '<%=isLoggedIn%>';
          $('.content_list').append(posthtml(postID, pauthor, ptitle, ppfp, pdesc, ppostedDate, peditedDate, prating, pmedia, preactValue, isCurrUserTheAuthor,'<%=isLoggedIn%>'));
        <% } else { %>
          // Display a message when the post is deleted
          $('.content_list').append('<div>The original post was deleted, but you can still view the comments.</div>');
        <% } %>
      </script>

<% comments.forEach(comment => { %>
  <% var count=1;%>
  <% console.log(count);%>
  <% if (!comment.isDeleted){ %>
  <script>
      var commentElement = postreply('<%= comment.author %>','<%= comment.userID.photo %>',"<%- comment.content.replace(/\r\n|\r|\n/g, "<br>") %>", '<%= comment.rating %>', '<%= comment._id %>','<%= user.username%>',postID,'<%=isLoggedIn%>','<%=comment.userReaction %>', '<%=comment.createDate%>','<%=comment.editDate%>');
      $('.border').append(commentElement);
  </script>
  <% } else { %>
  <script>
      var commentElement = postreply("deleted","https://drive.google.com/uc?id=1h0X17ZdHdB-Sfseocg4s0EI4tsZwX76I&export=download","The original comment was deleted, but you can still view the comments.", "N/A", '<%= comment._id %>',"visitor",postID,'<%=isLoggedIn%>',0,'','');
      $('.border').append(commentElement);
  </script>
  <% } %>

  <% const processChildComments = (childComments) => {
    count++;
    childComments.forEach(child => { 
      console.log(count);%>
      <script>
        $(document).ready(function() {
          var parentCommentId = '<%= child.parentCommentID %>';
          console.log("hi " + parentCommentId);
          var username = '<%= child.userID.username %>';
          var ppfp = '<%= child.userID.photo %>';
          var content = "<%- child.content.replace(/\r\n|\r|\n/g, "<br>") %>";
          var rating = '<%= child.rating %>';
          var childId = '<%= child._id %>';
          var user = '<%= user.username %>';
      
          <% if (!child.isDeleted) { %>
            console.log('<%=child.rating%>');
          var replyResult = postreply(username, ppfp, content, rating, childId, user, postID,'<%=isLoggedIn%>','<%=child.userReaction %>', '<%=child.createDate%>','<%=child.editDate%>');
          <% } else { %>
          var replyResult = postreply("deleted", "https://drive.google.com/uc?id=1h0X17ZdHdB-Sfseocg4s0EI4tsZwX76I&export=download", "The original comment was deleted, but you can still view the comments.", "N/A", '<%= child._id %>', "visitor", postID, '<%=isLoggedIn%>',0,'','');
          <% } %>
      
          <% if (child.parentCommentID === null) { %>
          $('#' + '<%= child._id %>').append(replyResult);
          <%if (count==15 & child.childComments.length > 0) {%>
            $('#' + '<%= child._id %>').append(showMoreButton('<%= child._id %>'));
            <%}%>
          <% } else { %>
          $('#' + parentCommentId).append(replyResult);
          <%if (count==15 & child.childComments.length > 0) {%>
            
            $('#' + parentCommentId).append(showMoreButton('<%= child._id %>'));
            <%}%>
          <% } %>
        });

        function showMoreButton(id){
          let comment_forum = document.createElement('div'),
            comment_wrapping = document.createElement('div'),
            comment_align = document.createElement('div'),
            comment_container = document.createElement('div'),
            ShowMore = document.createElement('p');
            ShowMore.textContent = "Show More Replies";
            comment_align.className = 'comment_align';
            comment_forum.className = 'comment_forum';
            comment_container.className = 'comment_container';
            comment_wrapping.className = 'comment_wrapping';
            comment_container.appendChild(ShowMore);
            comment_container.style.justifyContent = 'center';
            comment_container.style.cursor='pointer';
            comment_container.onclick = function(){
              window.location.href = "/comment/"+encodeURIComponent(id);
            }
            comment_forum.appendChild(comment_container);
            comment_wrapping.appendChild(comment_forum);
            comment_align.appendChild(comment_wrapping);
            return comment_align;
        }
      </script>
      
        
      
      <% if (child.childComments.length > 0 & count < 15) {
        processChildComments(child.childComments);
      }
     
    });
    count--;
  };

  processChildComments(comment.childComments);
%>

<% }); %>
    </div>
  </body>
</html>