	<!DOCTYPE html>
	<html>
		<head>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="/javascript/react.js"></script>
			<title>
				<%= user.username %>'s Profile - SnaccOverflow
			</title>
			<link rel="icon" href="../images/icon.png" sizes="32x32" type="image/png">
			<script src="/javascript/profile.js"></script>
			<script src="/javascript/postView.js"></script>
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
		</head>
		<body>
			<script src="/javascript/navbar.js" type="text/javascript"></script>
			<script>
				createNavbar(<%= isLoggedIn %>);
			</script>
			<div class="border">
				<div class="profile">
					<aside>
						<img src="<%= user.photo %>">
						<main>
							<%= user.username %> <!-- Display the user's display name -->
						</main>
						<% if (IsCurrUserTheProfileOwner) { %>
							<button onclick="window.location.href = '/profile/edit';">Edit Profile</button>
						<% } %>
					</aside>
					<div id="profile-details">
						<main>
							About Me
						</main>
						<article align="justify">
							<%- user.aboutme %>
						</article>
						<div class="space"></div>
						<h2>Recent User Posts</h2>
						<main>
							<script>
								function showPost() {
									<% var ctr = 0; %>
									<% if (user.posts.length > 0) { %>
										<% user.posts.forEach((post) => { %>
											<% if (ctr < 5) { %>
												console.log("Post Title:", '<%= post.title %>');
												
												console.log("Create Date:", '<%= post.dateCreated %>');
												var title = '<%= post.title %>';
												
												var createDate = '<%= post.dateCreated %>';
												pauthor = '<%= user.username %>';
												ppfp = '<%= user.photo %>'; //temp
												pdesc = '<%- post.title %>';
												pcount = '<%= post.rating %>';
												pid = '<%= post._id %>';
												phtml ='/post/' + encodeURIComponent(pid)
												$('#profile-details').append(profilePost(pauthor, ppfp, pdesc, pcount, pid, phtml));
												<% ctr++; %>
												<% if (ctr === 5)	 { %>
												$('#profile-details').append('<button id="hidden-button" onclick="showAllPosts()">Show All Posts</button>');
												var hiddenPosts = document.createElement('div');
												hiddenPosts.id = 'hidden-posts';
												hiddenPosts.style.display = 'none';
												$('#profile-details').append(hiddenPosts);
											<% } %>
											<% } else{ %>
												var title = '<%- post.title %>';
												
												var createDate = '<%= post.dateCreated %>';
												pauthor = '<%= user.username %>';
												ppfp = '<%= user.photo %>'; //temp
												pdesc = '<%- post.title %>';
												pcount = '<%= post.rating %>';
												pid = '<%= post._id %>';
												phtml ='/post/' + encodeURIComponent(pid)
												$('#hidden-posts').append(profilePost(pauthor, ppfp, pdesc, pcount, pid, phtml));
												<% ctr++; %>
											<% } %>
										<% }) %>
									<% } else { %>
										var titlePost = 'No Posts';
										var contentPost = 'This user currently has no posts.';
										var postElement = createPost(titlePost, contentPost, '');
										$("#profile-details").append(postElement.spacer);
										$("#profile-details").append(postElement.titlePost);
										$("#profile-details").append(postElement.contentPost);
									<% } %>
								}
								showPost();
								function showAllPosts() {
									$('#hidden-posts').show();
									$('#hidden-button').hide();
								}




								</script>
								
								<script>
								function showComments() {
									$("#profile-details").append("<div class=\"space\"></div><h2>Recent User Comments</h2>");
									<% var ctr = 0; %>
									<% if (user.comments.length > 0) { %>
										<% user.comments.forEach((comments) => { %>
											<% if (ctr < 5) { %>
				
												pauthor = '<%= user.username %>';
												ppfp = '<%= user.photo %>'; //temp
												pdesc = '<%- he.decode(comments.content).replace(/\r\n|\r|\n/g, "") %>';
												pcount = '<%= comments.rating %>';
												pid = '<%= comments._id %>';
												phtml = '/post/' + encodeURIComponent('<%= comments.parentPostID %>');
												$('#profile-details').append(profilePost(pauthor, ppfp, pdesc, pcount, pid, phtml));
												<% ctr++; %>
												<% if (ctr === 5)	 { %>
												$('#profile-details').append('<button id="comment-button" onclick="showAllComments()">Show All Comments</button>');
												// $('#profile-details').append('<div id="hidden-comments" style="display: none;">');
												var hiddenComments = document.createElement('div');
												hiddenComments.id = 'hidden-comments';
												hiddenComments.style.display = 'none';
												$('#profile-details').append(hiddenComments);
											<% } %>
											<% } else{ %>
								
												pauthor = '<%= user.username %>';
												ppfp = '<%= user.photo %>'; //temp
												pdesc = '<%- comments.content.replace(/\r\n|\r|\n/g, "") %>';
												pcount = '<%= comments.rating %>';
												pid = '<%= comments._id %>';
												phtml = '/post/' + encodeURIComponent('<%= comments.parentPostID %>');
												$('#hidden-comments').append(profilePost(pauthor, ppfp, pdesc, pcount, pid, phtml));
												<% ctr++; %>
											<% } %>
										<% }) %>
									<% } else { %>
										var titlePost = 'No Comments';
										var contentPost = 'This user currently has no comments.';
										var postElement = createPost(titlePost, contentPost, '');
										$("#profile-details").append(postElement.spacer);
										$("#profile-details").append(postElement.titlePost);
										$("#profile-details").append(postElement.contentPost);
									<% } %>
								}
								showComments();
								function showAllComments() {
									$('#hidden-comments').show();
									$('#comment-button').hide();
								}
							</script>
						</main>
					</div>
				</div>
			</div>
		</body>
	</html>
